@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,800italic,400,700,800);
 body {
    font-family: "open sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "open sans", sans-serif;
    font-weight: 600;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 3px 3px;
}
h1 {
    margin: 10px 0;
}
h2 {
    color: #c66737;
    text-align: center;
    font-size: 24pt;
    padding-top: 5%;
}
p {
    font-family: "open sans", sans-serif;
    color: #5a5a5a;
    font-size: 12pt;
}
p.panelText {
    text-align: justify;
    line-height: 1.8;
}
p.panelText .icon {
    margin-right: 10px;
}
blockquote {
    font-size: 1.3em;
    font-style: italic;
    margin: 0.25em 0;
    line-height: 1.45;
    position: relative;
    color: #383838;
    text-align: left;
<<<<<<< HEAD
    border:none;
=======
    border: none;
    /*    padding: 7%;
    border: 10px solid rgba(153, 153, 153, 0.35);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);*/
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
}
blockquote cite {
    color: #c66737;
    display: block;
    text-align: right;
    font-weight: 800;
}
blockquote DIV {
    font-weight: 800;
    padding-left: 25%;
}
footer h2 {
    max-width: 80%;
    text-align: center;
    margin: auto;
}
footer div.baseband {
    background: rgb(197, 197, 197);
    max-width: 100%;
    margin: 0;
}
.container {
    max-width: 1024px;
    margin-top: 0.5em;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px;
}
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    min-height: 57px;
}
.navbar .brand {
    font-size: 12pt;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    padding: 14px 20px 16px;
}
.navbar .nav > li {
    height: 25px;
}
.navbar .btn-navbar {
    margin-top: 10px;
}
.jumbotron {
    background: url(images/hero-background.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 2% 0;
}
.jumbotron h2 {
    color: white;
}
.bigpanel h1,
.bigpanel h2 {
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.6);
}
.service-tiles p.panelText {
    line-height: 1.8;
    padding: 5px;
}
.service-tiles h3 {
    font-size: 14pt;
    color: #888;
    text-align: center;
}
.logo {
    margin-bottom: -32px;
    z-index: 1000;
    background: #FFF;
}
.emailbox {
    padding: 10%;
}
.contactbox {
    width: 100%;
    background: url(images/map_world.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding-top: 5%;
    padding-bottom: 2%;
}
.contact-icon {
    width: 66px;
    padding: 0 16px 32px 16px;
}
.biglogo {
    background: white;
    width: 31%;
    padding: 2% 2% 8% 2%;
}
.uppershadow {
    width: 100%;
    border-top: 1px rgba(201, 96, 51, 1);
}
.hideMe {
    display: none;
}
.greybox {
    padding: 1%;
}
.greybox .btn {
    margin-top: 1%;
}
.greybox h2 {
    padding: 1%;
}
.footer {
    border: none;
    margin-top: 5%;
    padding: 0;
}
.footer-links {
    font-size: 10pt;
}
.process-page h5 {
    font-weight: 600;
    margin: 0;
    color: #5a5a5a;
}
.it a.it,
.es a.es,
.en a.en,
.fr a.fr {
    font-weight: 900;
    color: currentcolor;
    cursor: default;
    text-decoration: none;
    pointer-events: none;
}
.processSwitch {
    color: #08c;
    margin: 0;
}
.process-diagram {
    width: 100%;
}
.circle-shadow {
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);
}
.method-list {
    font-style: italic;
    line-height: 1.3 !important;
}
.impact {
    font-size: 18pt;
}
<<<<<<< HEAD

=======
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
.brand-purple-bg {
    background-color: #a458a2;
    color: white;
}
.brand-mustard-bg {
    background-color: #e2da4b;
}
.brand-sapphire-bg {
    background-color: #3563ae;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
.active.brand-purple {
    border: 10px solid #a458a2;
}
.active.brand-mustard {
    border: 10px solid #e2da4b;
}
.active.brand-sapphire {
    border: 10px solid #3563ae;
}
<<<<<<< HEAD

=======
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
.active.brand-purple-bar {
    border-top: 10px solid #a458a2;
}
.active.brand-mustard-bar {
    border-top: 10px solid #e2da4b;
}
.active.brand-sapphire-bar {
    border-top: 10px solid #3563ae;
}
.nav-pills > li {
    font-size: 14pt;
    text-align: center;
    width: 33%;
    border-top: 10px solid #999;
}
.nav-pills > li a h3,
.nav-pills > li a {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
<<<<<<< HEAD

.nav-pills > li.active a h3 {
    background-color: #eee;
}
.hidden-desktop img#process-diagram {
    margin: 3em 0;
}
.customer-logos {
    background: white;
=======
.nav-pills > li.active a h3 {
    background-color: #eee;
}
.hidden-desktop img#process-diagram {
    margin: 3em 0;
}
.customer-logos {
    background: white;
    /*box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);*/
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
}
.customer-logo {
    border: 20px solid white;
    margin-bottom: 3%;
}
.customer-logo IMG {
<<<<<<< HEAD
    width:100%;
=======
    width: 100%;
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
}
img.quotemarks {
    margin-bottom: -15%;
    opacity: 0.35;
}
blockquote DIV {
    margin-left: 1%;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 3px 3px;
}
.quotes {
<<<<<<< HEAD
    display:none;
    background: url(images/quotes.svg) top left no-repeat;
}
.quotes.active {
  display:block;
=======
    display: none;
    background: url(images/quotes.svg) top left no-repeat;
}
.quotes.active {
    display: block;
>>>>>>> ffa973b068550bc67d9a121712dc5c1deba9e6e5
}