@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,800italic,400,700,800);
 @import url(http://fonts.googleapis.com/css?family=Oswald:700);
 body {
    font-family: "open sans", sans-serif;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px;
}
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    min-height: 57px;
}
.navbar .brand {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    padding: 14px 20px 16px;
}
ul.nav {
    padding: 12px;
}
.navbar .nav > li {
    height: 25px;
}
.navbar .btn-navbar {
    margin-top: 10px;
}
.jumbotron {
    background: url(images/hero-background.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 2% 0;
}
.bigpanel h1,
.bigpanel h3 {
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.6), 0 -5px 35px rgba(255, 255, 255, 0.8), -.01em .01em 0 #cc6633, -.02em .02em 0 #e69064, -.03em .03em 0 #e6a787, -.04em .04em 0 #853811;
}
p.panelText {
    text-align: left;
    line-height: 1.8;
}
p.panelText .icon {
    margin-right: 10px;
}
.service-tiles P.panelText {
    text-align: left;
    line-height: 1.8;
}
.service-tiles h3 {
    font-size: 14pt;
    color: #888;
    text-align: center;
}
.logo {
    margin-bottom: -32px;
    z-index: 1000;
    background: #FFF;
}
nav.uxisready {
    margin-left: 64px;
}
span.spacer {
    padding: 0 20px;
}
.orange {
    color: #c66737;
}
.whitepage {
    background: #FFF;
}
.marketing h1 {
    margin: 10px 0;
}
.emailbox {
    padding: 10%;
}
.contactbox {
    width: 100%;
    background: url(images/map_world.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding-top: 5%;
    padding-bottom: 2%;
}
.contact-icon {
    width: 66px;
    padding: 0 16px 32px 16px;
}
.biglogo {
    background: white;
    width: 31%;
    padding: 2% 2% 8% 2%;
}
.uppershadow {
    width: 100%;
    border-top: 1px rgba(201, 96, 51, 1);
}
.footer {
    margin-top: 10px;
    padding: 0;
}
.marketing h2 {
    background-position: center 95%;
    color: #c66737;
    padding: 1% 0 0 0;
}
.footer-links {
    font-size: 12px;
}
#processSwitch {
    color: #08c;
    margin: 0;
}
.hideMe {
    display: none;
}
.greybox {
    background: #f5f5f5;
    padding: 1%;
}
.greybox .btn {
    margin-top: 1%;
}
.greybox h2 {
    padding: 1%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.marketing h2 {
    font-family: "open sans", sans-serif;
    font-weight: 600;
}
footer h2 {
    max-width: 80%;
    text-align: center;
    margin: auto;
}
h2 {
    font-size: 24px;
}
.process-page h5 {
    font-weight: 600;
    margin: 0;
    color: #5a5a5a;
}
p {
    font-family: "open sans", sans-serif;
    color: #5a5a5a;
    font-size: 16px;
}
.footer {
    border: none;
    margin-top: 5%;
}
.it a.it,
.es a.es,
.en a.en,
.fr a.fr {
    font-weight: 900;
    color: currentcolor;
    cursor: default;
    text-decoration: none;
    pointer-events: none;
}
img.customer-tile {
    padding: 0%;
    vertical-align: middle;
}
footer div.baseband {
    background: rgb(197, 197, 197);
    max-width: 100%;
    margin: 0;
}
.container {
    max-width: 1024px;
    margin-top: 20px;
}
.process-page {
    background: #f5f5f5;
}
.verticalspacer {
    height: 40px;
}
.process-diagram {
    width: 100%;
}
img.circle-icon {
    width: 50%;
    max-width: 200px;
}
img.uxisready {
    max-width: 260px;
}
.circle-shadow {
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.75);
}
.method-list {
    font-style: italic;
    line-height: 1.3 !important;
}