            /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }


        .jumbotron {
            background: url('images/bgbig.jpg') no-repeat center center fixed;
            background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
            padding:2% 0;
        }

        .bigpanel h1 {
            text-shadow: 2px 8px 6px rgba(0,0,0,0.6), 0px -5px 35px rgba(255,255,255,0.8),
                        -0.01em 0.01em 0em #cc6633, -0.02em 0.02em 0em #e69064,
                        -0.03em 0.03em 0em #e6a787, -0.04em 0.04em 0em #853811;

        }

        p.panelText {
            padding: 2px;
            text-align: justify;
            line-height: 2;
        }

        p.panelText .icon {
            margin-right: 10px;
        }

        .service-tiles .tile {
           padding: 3%;
        }

        .service-tiles P.panelText {
          text-align: left;
          line-height: 1.8;
        }

        .logo {
            margin-bottom: -32px;
            z-index:1000;
            background:white;
        }

        nav.uxisready {
            margin-left: 64px;
        }

        span.spacer {
            padding: 0 20px;
        }

        .orange {
            color: #c66737;
        }

        .whitepage {
            background: white;
        }

        .marketing h1 {
            margin: 40px 0 40px;
        }

        .emailbox {
            padding: 10%;
        }

        .contactbox {
            width: 100%;
            /*background: url('images/map_opacity_20.png') no-repeat;*/

            background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
        }

        .uppershadow {
            width: 100%;
            border-top: 1px rgba(201,96,51,1);
        }

        .footer {
            margin-top: 0;
            padding:0;
        }

        .marketing h2 {
            padding: 2% 0 2% 0;
          /*  background: url('images/underline_1.png') no-repeat; */
            background-position: center 95%;
            color:#c66737;
        }

        .footer-links {
            font-size: 12px;
        }
        
        body {
            xpadding:0;
        }

        #processSwitch {
           color:blue;
        }

        .hideMe {
           display:none;
        }

        .greybox {
          background: #e4e0dd;
          padding: 1%;
        }

        .greybox .btn {
          margin-top: 1%; 
        }
        
        .greybox h2 {
          padding: 0%;
        }

        h3 {
          font-size: 14pt;
          font-weight: 100;
          color: #c66737;
          background: rgba(255,255,255,0.7);
        }
      
