/* css global variables */

$color-uxisready-yellow = rgba(255,217,75,1.0) /* e1 d9 4b */
$color-uxisready-blue   = rgba(45,97,184,1.0)  /* 2d 61 b8 */
$color-uxisready-purple = rgba(163,41,163,1.0) /* a3 29 a3 */
$color-uxisready-orange = rgba(255,93,56,1.0)  /* df 5d 38 */


$color-uxisready-white      = rgba(255,255,255,1.0) /* ff */
$color-uxisready-grey-light = rgba(245,245,245,1.0) /* f5 */
$color-uxisready-grey       = rgba(233,233,233,1.0) /* e9 */
$color-uxisready-grey-dark  = rgba(151,151,151,1.0) /* 97 */
$color-uxisready-black      = rgba(50,50,50,1.0)    /* 00 */

$color-bg               = $color-uxisready-grey-light
$color-fg               = $color-uxisready-black

$color-border           = transparentify($color-fg, 0.8)

$color-header-bg        = #fff
$color-header-fg        = inherit
$color-header-alt-bg    = rgba(68, 110, 83, 0.45)
$color-header-alt-fg    = #fff

$color-banner-bg        = #898786
$color-banner-fg        = #fff
$color-banner-inner-bg  = #341b2b
$color-banner-inner-fg  = #fff

$color-footer-bg        = #E8EEF4//#e2e5e8
$color-footer-fg        = #7c8081

$color-one-bg           = #83d3c9
$color-one-fg           = #fff
$color-two-bg           = #fff
$color-two-fg           = inherit
$color-three-bg         = #645862
$color-three-fg         = #fff

$color-navPanel-bg      = #1c2021
$color-navPanel-fg      = #fff
$color-navButton-bg     = rgba(163,169,170,0.75)
$color-navButton-fg     = #fff

$social-icon-bg         = $color-uxisready-orange

$color-twitter-bg       = $social-icon-bg
$color-twitter-fg       = $social-icon-fg
$color-email-bg         = $social-icon-bg
$color-email-fg         = $social-icon-fg
$color-linkedin-bg      = $social-icon-bg
$color-linkedin-fg      = $social-icon-fg
