$pattern-background-size= cover
/*
  Twenty by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

  body
    min-width: 320px

  h2
    font-size: 1.25em
    letter-spacing: 0.1em

  h3
    font-size: 1em
    letter-spacing: 0.025em

  p
    text-align: justify

  header
    text-align: center
    &.major
      padding-bottom: 0

    &.special
      margin-bottom: 3em
      padding-left: 1.5em
      padding-right: 1.5em
      &:before,
      &:after
        width: 38%

      .icon
        font-size: 0.75em
        top: 1.5em

    p
      text-align: center

  footer
    &.major
      padding-top: 0

  .icon
    &.circle
      font-size: 1em

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .button
    max-width: 20em
    width: 100%
    &.fit
      width: auto

  ul
    &.icons
      li
        padding-left: 0.25em

    &.featured-icons
      li
        .icon
          width: 1.1em

    &.buttons
      text-align: center

  .wrapper
    margin-bottom: 2.5em

    &.special
      br
        display: none

    &.style1
      padding: 0 1.5em

    &.style2
      background-size: $pattern-background-size

    &.style4
      background-size: $pattern-background-size
      padding: 1.5em 1.5em 3em 1.5em

  #banner
    background-size: $pattern-background-size, $pattern-background-size, auto, cover
    padding: 1em 0
    .inner
      background: none
      display: block
      padding: 0 1.5em
      header
        h1
          font-size: 3em

        h2
          font-size: 1.5em

      p
        text-align: center

      br
        display: none

  #main
    background-size: $pattern-background-size
    padding: 3.5em 0 2.5em 0

  body.contact #main
    padding-bottom: 0

  #cta
    background-size: cover
    padding: 0em 0.5em

  #footer
    .copyright
      li
        display: block
        margin: 1em 0 0 0
        padding: 0
        border: 0
  ul.icons
    margin:0
